<div class="cities">

    
    <h2>
        <a href="<%- config.root %><%- item.path %>">
            <%- item.title %>
        </a>
    </h2>

    <div class="row">
<div>    
<% if (item.photos && item.photos.length){ %>
    <%- partial('imagestream') %>
<% } %>
</div>
</div>


</div>
